extends layout

block content
  h1= title
  p Welcome to #{title}
  p Testing
  
  div
    form(name="sendPhoto", action="/sendPhoto", method="post")
      input(type="text", name="photoText")
      input(type="submit", value="Send Photo")

